[Desktop Entry]
Type=Application
Name=Reloj Diver Widget
Comment=Reloj de buceo de escritorio para Wayland/GNOME
Exec=python3 /home/chavezh/Vibes/Widgets/Linux_Widgets/reloj_widget.py
Path=/home/chavezh/Vibes/Widgets/Linux_Widgets
Icon=/home/chavezh/Vibes/Widgets/Linux_Widgets/reloj-icon.png
Terminal=false
Categories=Utility;
X-GNOME-Autostart-enabled=true
