[Desktop Entry]
Type=Application
Name=Monitor Dorado Widget
Comment=Monitor CPU/RAM/VRAM/GPU/Disco estilo lujo para Wayland/GNOME
Exec=python3 /home/chavezh/Vibes/Widgets/Linux_Widgets/sysmon_widget.py
Path=/home/chavezh/Vibes/Widgets/Linux_Widgets
Icon=/home/chavezh/Vibes/Widgets/Linux_Widgets/sysmon-icon.png
StartupWMClass=com.vibes.sysmon-widget
Terminal=false
Categories=Utility;System;Monitor;
X-GNOME-Autostart-enabled=true
